version: 2.1

jobs:
  build:
    docker:
      - image: circleci/python:3.9
      - image: circleci/postgres:13
        environment:
          POSTGRES_USER: circleci
          POSTGRES_DB: circle_test
    working_directory: ~/repo
    steps:
      - checkout
      - run: pip install -r requirements.txt
      - run:
          name: Set Secret Key
          command: |
            echo 'export SECRET_KEY=${SECRET_KEY}' >> $BASH_ENV
            source $BASH_ENV
          when: always
      - run:
          name: Wait for database
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run:
          name: Run tests
          command: |
            python manage.py test --noinput --settings=inventory.settings.test
