<!-- UserInfo page -->
{% extends 'product/base.html' %}

{% block content %}

<section class="page-section sign mt-5" id="UserInfo-page">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center">
            <div class="shadow rounded-3 bg-light bg-gradient px-5 mt-5 py-5 col-lg-6 border">

                <h2 class="mb-4 text-center">Informations concernant l'utilisateur</h2>

                <hr class="divider"/>

                {{ user.first_name }} {{ user.last_name }}


                <div class="text-center mt-4">
                    <a id="" class="border col-12 btn btn-outline-teal rounded-pill text-center py-2" role="button" href='#'>
                        <i style="padding-right: 1%" class="fa-solid fa-right-from-bracket"></i>
                        Bouton
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock content %}
