<!-- Change Password page -->
{% extends 'product/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <section class="page-section sign">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mt-0 pt-3">Modification du mot de passe de {{ user.get_short_name }} </h2>
                    <hr class="divider my-4" />
                    <br/>
                    <form method="POST" class="ml-auto my-2 my-lg-0">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button id="rst_pwd_btn" class="btn btn-outline-success my-4" type="submit">Modifier</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}