<!-- Index page from base template -->
{% extends 'product/base_body.html' %}

{% block content %}

    <div class="container-fluid px-4">
        <h1 class="mt-4">Inventory</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Inventory</li>
        </ol>
        <div class="card mb-4 shadow">
            <div class="card-header shadow-sm">
                <i class="fas fa-table me-1"></i>
                Devices
            </div>
            <div class="card-body">
                <table id="datatablesSimple" class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>#</th>
                            <th>Type</th>
                            <th>Brand</th>
                            <th>Model</th>
                            <th>Hostname</th>
                            <th>Serial</th>
                            <th>UserID</th>
                            <th>Inventory</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tfoot class="thead-light">
                        <tr>
                            <th>#</th>
                            <th>Type</th>
                            <th>Brand</th>
                            <th>Model</th>
                            <th>Hostname</th>
                            <th>Serial</th>
                            <th>UserID</th>
                            <th>Inventory</th>
                            <th>Location</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for device in devices %}
                            <tr>
                                <th>{{ forloop.counter }}</th>
                                <td>{{ device.product.category.name }}</td>
                                <td>{{ device.product.brand.name }}</td>
                                <td>{{ device.product.name }}</td>
                                <td>{{ device.inventory.hostname }}</td>
                                <td>{{ device.inventory.serial }}</td>
                                <td>{{ device.device_user.uid }}</td>
                                <td>{{ device.immo.inventory_number }}</td>
                                <td>{{ device.immo.location.name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div>
        <div class="container row mt-5">
            <div class="col-md-4 mt-2">
                <h4>Device Type</h4>
                <hr>
            </div>

            <div class="col-md-8">
                <canvas id="myChart" width="400" height="250"></canvas>
                    <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                            labels: {{ labels|safe }},
                            datasets: [{
                                label: '# of Products',
                                data: {{ datas|safe }},
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.8)',
                                    'rgba(54, 162, 235, 0.8)',
                                    'rgba(255, 206, 86, 0.8)',
                                    'rgba(75, 192, 192, 0.8)',
                                    'rgba(153, 102, 255, 0.8)',
                                    'rgba(255, 159, 64, 0.8)',
                                    'rgba(240, 120, 50, 0.8)',
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)',
                                    'rgba(240, 120, 50, 1)',

                                ],
                                borderWidth: 2
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                    </script>
            </div>
        </div>
    </div>
{% endblock %}