/* Remove asterisk from labels form fields */
.asteriskField {
  display: none;
}

/* Reduce opacity of an element when disabled */
.is_disabled {
  opacity: 30%;
}

/* blue hover class  */
.blue_hover {
  color: black;
}

.blue_hover:hover {
  color: dodgerblue;
}

/* Class for button outline teal */
.btn-outline-teal {
  background-color: white;
  box-shadow: 0 0.4em 0.3em rgba(0,0,0,0.2);
}

.btn-outline-teal:hover {
  background-color: teal;
  color: white;
  box-shadow: inset 0 0.4em 0.3em rgba(0,0,0,0.3);
}

/* Class for field white hover  */
.field_white_hover {
  background: whitesmoke;
}

.field_white_hover:hover {
  background: white;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #6c757d #f8f9fa;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background-color: #f8f9fa;
}

*::-webkit-scrollbar-thumb {
  background-color: #6c757d;
  border-radius: 10px;
  border: 3px solid #f8f9fa;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #495057;
}

.custom-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-form-control {
  font-size: 1.2rem;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
}

.custom-hr {
  border-top: 2px solid #007bff;
  margin-top: 0;
  margin-bottom: 1rem;
}

.custom-table {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
}

.custom-table th,
.custom-table td {
  border-top: none;
}

.custom-table th {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

.custom-table td {
  vertical-align: middle;
}

.custom-table tbody tr:nth-of-type(odd) {
  background-color: #f8f9fa;
}

@media (max-width: 767px) {
  .custom-form-control {
    font-size: 1rem;
  }

  .custom-table td,
  .custom-table th {
    font-size: 0.9rem;
    padding: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .custom-form-control {
    font-size: 1.1rem;
  }
}

@media (min-width: 992px) {
  .custom-form {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .custom-form-control {
    font-size: 1.2rem;
    max-width: 600px;
  }

  .custom-table td,
  .custom-table th {
    font-size: 1.1rem;
    padding: 1.5rem;
  }
}