{% autoescape off %}

Bonjour {{ user.username }},

Nous avons reçu une demande de réinitialisation de mot de passe pour votre compte lié à cette adresse email.
Pour engager le processus, cliquez sur le lien suivant :

{{ protocol }}://{{ domain }}{% url 'reset_password_confirm' uidb64=uid token=token %}

(Ce lien ne peut être utilisé qu'une seule fois.)

Salutations,
OC-Inventory Team


(Si vous n'êtes pas à l'origine de cette demande, contactez-nous : contact.develop.apps@gmail.com)

{% endautoescape %}