<!-- Login page -->
{% extends 'product/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
    <section class="page-section sign mt-5" id="login_page">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center">
            <div class="shadow-lg rounded-3 bg-light bg-gradient px-5 mt-5 py-5 col-lg-6 border">
                <h2 class="mb-4 text-center">Authentification</h2>
                <hr class="divider"/>
                <form method="POST" class="py-4">
                    {% csrf_token %}

                    <div class="mb-2">
                        {{ form.username|as_crispy_field }}
                    </div>

                    <div class="mb-4">
                      {{ form.password|as_crispy_field }}
                    </div>

                    <div class="text-center mt-5">
                        <button id="logon_btn" class="col-12 btn btn-outline-dark rounded-pill text-center py-2" type="submit">
                            Se connecter
                        </button>
                    </div>

                </form>
                <hr class="divider mb-0 mt-3"/>
                <p class="my-1 font-weight-lighter font-italic text-end">
                    <i>Mot de passe oublié ? <a href={%  url 'reset_password' %}>Cliquez ici</a></i>
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}