{% extends "product/base.html" %}

{% load crispy_forms_tags %}
{% block content %}

    <section class="page-section sign mt-5" id="reset_pwd_confirm_page">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center">
            <div class="shadow-lg rounded-3 bg-light bg-gradient px-5 mt-5 py-5 col-lg-6 border">
                <h2 class="mb-4 text-center">Confirmation de la réinitialisation</h2>
                <hr class="divider"/>
                <form method="POST" class="py-4">
                    {% csrf_token %}

                    <div class="mb-2">
                      {{ form.new_password1|as_crispy_field }}
                    </div>
                    <div class="mb-4">
                      {{ form.new_password2|as_crispy_field }}
                    </div>

                    <div class="text-center mt-5">
                        <button id="modify_pwd" class="col-12 shadow-sm btn btn-outline-dark rounded-pill text-center py-2" type="submit">
                            Réinitialiser
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}