{% extends "product/base_body.html" %}

{% load crispy_forms_tags %}

{% block title %}OC-Inventory PasswordConfirmation{% endblock %}

{% block content %}

    <section class="page-section sign mt-5" id="reset_pwd_confirm_page">
        <div class="container h-100">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <div class="card shadow-lg rounded-3 bg-light bg-gradient px-5 mt-5 py-5 border-0">
                        <div class="card-header bg-transparent border-0 mb-2 p-0">
                            <h3>Nouveau mot de passe</h3>
                            <hr class="divider mt-4">
                        </div>
                        <div class="card-body p-0 text-center">
                            <form method="POST" class="pt-2">
                                {% csrf_token %}

                                <div class="form-group input-icon mb-2">
                                    {{ form.new_password1|as_crispy_field }}
                                    <span class="fa fa-lock form-icon"></span>
                                </div>
                                <div class="form-group input-icon mb-4">
                                    {{ form.new_password2|as_crispy_field }}
                                    <span class="fa fa-lock form-icon"></span>
                                </div>

                                <div class="d-grid gap-2">
                                    <button id="confirm_reset_pwd"
                                            class="border shadow-sm btn btn-outline-teal bg-gradient rounded-pill text-center"
                                            type="submit">
                                        <i class="fa-solid fa-key me-2"></i>
                                        <b>Confirmer</b>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}