<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Liste des dispositifs</title>
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            const deviceSelect = document.getElementById('device-select');
            const deviceCount = document.getElementById('device-count');
            deviceSelect.addEventListener('change', function () {
                const selectedType = deviceSelect.value;
                const xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        const devices = JSON.parse(this.responseText);
                        const deviceList = document.querySelector('ul');
                        deviceCount.innerText = devices.length;
                        deviceList.innerHTML = '';
                        devices.forEach(function (device) {
                            const li = document.createElement('li');
                            li.innerText = device.name;
                            deviceList.appendChild(li);
                        });
                    }
                };
                xhr.open('GET', `/dashboard/devices/${selectedType}`);
                xhr.send();
            });
        });
    </script>
</head>
<body>
<div class="col-md-6">
    <div class="d-flex align-items-center justify-content-end">
        <label for="device-select" class="me-2">Device type:</label>
        <select class="form-select" id="device-select">
            <option selected>All devices</option>
            {% for category in categories %}
                <option>{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="col-md-6">
    <h2>Quantité des dispositifs</h2>
    <div id="device-count">{{ devices|length }}</div>
</div>
<div class="col-md-6">
    <h2>Liste des dispositifs</h2>
    <ul id="device-list">
      {% for device in devices %}
        <li>{{ device.inventory.hostname }}</li>
      {% endfor %}
    </ul>
</div>
</body>
</html>