<!-- UserInfo page -->
{% extends 'product/base_body.html' %}

{% block content %}

<section class="page-section sign mt-5" id="device_info-page">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center">
            <div class="card shadow rounded-3 bg-light bg-gradient px-5 mt-5 py-5 col-lg-6 border-0">
                <div class="card-header bg-transparent border-0 mb-2 p-0">
                    <h3 title="Nom du périphérique">
                        {% if device.product.category.name == 'Desktop' %}
                            <i class="fa-solid fa-desktop me-2"></i>
                        {% elif device.product.category.name == 'Workstation' %}
                            <i class="fa-solid fa-computer me-2"></i>
                        {% elif device.product.category.name == 'Tablet' %}
                            <i class="fa-solid fa-tablet-screen-button me-2"></i>
                        {% elif device.product.category.name == 'MobileWS' %}
                            <i class="fa-solid fa-laptop-code me-2"></i>
                        {% elif device.product.category.name == 'Notebook' %}
                            <i class="fa-solid fa-laptop me-2"></i>
                        {% endif %}
                        {{ device.inventory.hostname }}
                    </h3>
                </div>

                <div class="card-body p-0">
                    <h6 class="small mt-4"><span class="fa-solid fa-circle-info me-2"></span>INFORMATIONS</h6>
                    <hr class="divider mt-0"/>

                    <div class="row pt-2" title="Type de périphérique">
                        <span class="col-2 text-center align-self-center">
                            {% if device.product.category.name == 'Desktop' %}
                                <i class="fa-solid fa-desktop"></i>
                            {% elif device.product.category.name == 'Workstation' %}
                                <i class="fa-solid fa-computer"></i>
                            {% elif device.product.category.name == 'Tablet' %}
                                <i class="fa-solid fa-tablet-screen-button"></i>
                            {% elif device.product.category.name == 'MobileWS' %}
                                <i class="fa-solid fa-laptop-code"></i>
                            {% elif device.product.category.name == 'Notebook' %}
                                <i class="fa-solid fa-laptop"></i>
                            {% endif %}
                        </span>
                        <input class="col-8 border text-center rounded-pill field_white_hover" value="{{ device.product.category.name }} {{ device.product.brand }} {{ device.product.name }}" disabled/>
                    </div>
                    <div class="row pt-2" title="Système d'exploitation">
                        <span class="col-2 text-center align-self-center">
                            {% if device.inventory.operating_system.name == 'Ubuntu' %}
                                <i class="fa-brands fa-ubuntu"></i>
                            {% elif device.inventory.operating_system.name == "MacOS" or device.inventory.operating_system.name == "iOS" %}
                                <i class="fa-brands fa-apple"></i>
                            {% elif device.inventory.operating_system.name == 'Android' %}
                                <i class="fa-brands fa-android"></i>
                            {% else %}
                                <i class="fa-brands fa-windows"></i>
                            {% endif %}
                        </span>
                        <input class="col-8 border text-center rounded-pill field_white_hover" value="{{ device.inventory.operating_system.name }}" disabled/>
                    </div>
                    <div class="row pt-2" title="Numéro de série">
                        <span class="col-2 text-center align-self-center">
                            <i class="fa-solid fa-list-ol"></i>
                        </span>
                        <input class="col-8 border text-center rounded-pill field_white_hover" value="{{ device.inventory.serial }}" disabled/>
                    </div>
                    <div class="row pt-2" title="Processeur">
                        <span class="col-2 text-center align-self-center">
                            <i class="fa-solid fa-microchip"></i>
                        </span>
                        <input class="col-8 border text-center rounded-pill field_white_hover" value="{{ device.inventory.cpu.cpu_brand.name }} {{ device.inventory.cpu.name }}@{{ device.inventory.cpu.frequency }} GHz" disabled/>
                    </div>
                    <div class="row pt-2" title="Quantité de RAM">
                        <span class="col-2 text-center align-self-center">
                            <i class="fa-solid fa-memory"></i>
                        </span>
                        <input class="col-8 border text-center rounded-pill field_white_hover" value="{{ device.inventory.ram }} Go" disabled/>
                    </div>
                    <div class="row pt-2" title="Quantité de stockage">
                        <span class="col-2 text-center align-self-center">
                            <i class="fa-solid fa-hard-drive"></i>
                        </span>
                        <input class="col-8 border text-center rounded-pill field_white_hover" value="{{ device.inventory.storage }} Go" disabled/>
                    </div>
                    <div class="row pt-2" title="Adresse MAC">
                        <span class="col-2 text-center align-self-center">
                            <i class="fa-solid fa-network-wired"></i>
                        </span>
                        <input class="col-8 border text-center rounded-pill field_white_hover" value="{{ device.inventory.addr_mac }}" disabled/>
                    </div>

                    <h6 class="small mt-4"><span class="fa-solid fa-street-view me-2"></span>IMMOBILISATION</h6>
                    <hr class="divider mt-0"/>

                    <div class="row pt-2" title="Numéro d'étiquette">
                        <span class="col-2 text-center align-self-center">
                            <i class="fa-solid fa-barcode"></i>
                        </span>
                        <input class="col-8 border text-center rounded-pill field_white_hover" value="{{ device.immo.inventory_number }}" disabled/>
                    </div>
                    <div class="row pt-2" title="Numéro du bon de commande">
                        <span class="col-2 text-center align-self-center">
                            <i class="fa-solid fa-money-check"></i>
                        </span>
                        <input class="col-8 border text-center rounded-pill field_white_hover" value="{{ device.immo.bc_number }}" disabled/>
                    </div>
                    <div class="row pt-2" title="Localisation de l'immobilisation">
                        <span class="col-2 text-center align-self-center">
                            <i class="fa-solid fa-location-dot"></i>
                        </span>
                        <input class="col-8 border text-center rounded-pill field_white_hover" value="{{ device.immo.location.loc_number }}" disabled/>
                    </div>

                    <div class="row mt-4">
                        <h6 class="small col-6"><span class="fa-solid fa-link me-2"></span>UTILISATEUR ASSOCIE</h6>
                        <a id="link_device_btn" class="col-6 text-end blue_hover" href="/manage-admin/product/device/{{ device.id }}/change/" target="_blank">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </div>
                    <hr class="divider mt-0"/>

                    {% if device.device_user is null %}
                        <div class="row pt-2" title="Utilisateur associé">
                            <span class="col-2 text-center align-self-center">
                                <i class="fa-solid fa-user"></i>
                            </span>
                            <input class="col-8 border text-center rounded-pill field_white_hover" value="Aucun utilisateur..." disabled/>
                        </div>
                    {% else %}
                        <div class="row pt-2" title="Utilisateur associé">
                            <span class="col-2 text-center align-self-center">
                                <i class="fa-solid fa-user"></i>
                            </span>
                            <input class="col-8 border text-center rounded-pill field_white_hover" value="{{ device.device_user.first_name }} {{ device.device_user.last_name }}" disabled/>
                            <div class="col-2 text-center">
                                <a id="user_detail" title="Voir plus d'informations sur {{ device.device_user.first_name }} {{ device.device_user.last_name }}..." class="col-1 blue_hover text-center align-self-center" href="{% url 'show_user_info' user_id=device.device_user.id%}">
                                    <i class="btn btn-outline-primary px-2 py-1 rounded-3 fa-solid fa-magnifying-glass"></i>
                                </a>
                            </div>
                        </div>
                    {% endif %}

                    <div class="mb-3"></div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
