<!-- Registration page -->
{% extends 'product/base.html' %}

{% load crispy_forms_tags %}
{% block content %}

<section class="page-section sign mt-5">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center">
            <div class="shadow-lg rounded-3 bg-light bg-gradient px-5 mt-5 py-5 col-lg-8 border">
                <h2 class=" text-center">Nouveau périphérique</h2>
                <form method="POST" class="py-4">
                    {% csrf_token %}

                    <h6 class="small mt-4">INFORMATIONS</h6>
                    <hr class="divider mt-0"/>

                    <div class="form-group row mb-2">
                        <div class="col-sm-5">
                            {{ product_form }}
                            {{ inventory_form }}
                            {{ location_form }}
                            {{ immo_form }}
                        </div>
                    </div>

                    <div class="mt-5">
                        <button id="add_new_device_btn"  class="border col-12 btn btn-outline-teal rounded-pill text-center py-2" type="submit">
                            <i style="padding-right: 1%" class="fa-solid fa-circle-plus"></i>
                            <b>Ajouter le périphérique</b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}